<html>
  <head>
      <title>wellcome to security session</title>
  </head>
<body>

     <form action="/loginuser/" method="post">
         {% csrf_token %}
         <table>
             <tr>
                 <th>username</th>
                 <td><input type="text" name="uname"></td>
             </tr>
             <tr>
                 <th>password</th>
                 <td><input type="password" name="pwd"></td>
             </tr>
             <tr>
                 <th></th>
                 <td><input type="submit" name="login"></td>
             </tr>


         </table>

     </form>

</body>